version: "3.8"

services:
  web:
    build: .
    container_name: flask-weather-app
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
