apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: flask
        image: weatheracr123.azurecr.io/weather-app:latest
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: flask-config
        - secretRef:
            name: flask-secret
