<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h2>🌤 Weather App</h2>

    <form method="POST">
        <input type="text" name="city" placeholder="Enter city">
        <button>Check</button>
    </form>

    {% if weather %}
    <div class="result">
        <h3>{{ weather.city }}</h3>
        <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">
        <p class="temp">{{ weather.temp }}°C</p>
        <p>{{ weather.desc }}</p>
    </div>
    {% endif %}

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>
